.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.div {
  border: 3px solid red;
}

.textarea {
  width: 100%;
  font-family: "Rubik", sans-serif;
  resize: vertical;
  line-height: 1.5rem;
}
.btn {
  background-color: #5457b6;
  color: #fff;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  margin-left: auto;
}
